<h1>From Company Controller</h1>

<form action="/api/v1/users/post_user" method="post">
    <input name="name" placeholder="enter name"/>
    <input name="country" placeholder="enter country" />
    <input name="tribe" placeholder="enter tribe" />
    <button>Submit</button>
</form>